{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mx-auto mt-8">
    <h2 class="text-2xl font-semibold text-white">Welcome, {{ user.username }}!</h2>

    <h3 class="mt-4 text-xl text-white">Your Releases</h3>

    {% if releases %}
    <div class="flex flex-col gap-4 mt-2">
        {% for release in releases %}
        <div class="bg-gray-800 border border-gray-700 rounded-lg shadow-md p-3 flex items-center space-x-4">
            <img src="{{ release.cover_art.url }}" alt="Cover art for {{ release.title }}"
                class="w-16 h-16 object-cover rounded-md">
            <div class="flex-1">
                <h4 class="text-md font-semibold text-white">{{ release.title }}</h4>
                <p class="text-gray-400">By {{ release.stage_name }}</p>
                <p class="text-sm text-gray-500">Released on {{ release.release_date|date:"F j, Y" }}</p>

                <!-- Digital Platforms Section -->
                <div class="mt-2">
                    <h5 class="font-semibold text-white">Available on:</h5>
                    <div class="flex space-x-2 mt-1">
                        <img src="static/dsps.jpg" alt="Available on DSP" class="h-8 w-auto">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="mt-2 text-gray-400">You have no releases. <strong class="text-white">Release your first music
            now!</strong></p>
    {% endif %}

    <div class="mt-6">
        <a href="{% url 'release' %}"
            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition">
            Add Release
        </a>
    </div>

    <div class="mt-4">
        <a href="/createArtist"
            class="inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-green-600 transition">
            Create New Artist
        </a>
    </div>
</div>
{% endblock %}