<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Description of my application.">
    <meta name="keywords" content="music, streaming, artist, profile">  <!-- Added keywords -->
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>{% block title %}Proxibutor{% endblock %}</title>
    <style>
        .header {
            background: linear-gradient(to right, #6b46c1, #3182ce);
        }

        .footer {
            background-color: #4a5568;
        }

        .message {
            transition: opacity 0.5s ease;
        }

        /* Sticky footer styles */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
</head>

<body class="bg-gray-900 text-white">
    <header class="header flex justify-between items-center p-5 bg-gradient-to-r from-purple-600 to-blue-600 shadow-lg rounded-b-lg">
        <div class="flex items-center">
            <img src="{% static 'proxibutor.png' %}" alt="Proxibutor Logo" class="h-12">
        </div>
        <nav>
            <ul class="flex space-x-6 items-center">
                <li>
                    <a href="/" class="flex items-center text-white font-semibold hover:text-yellow-300 transition">
                        <svg class="h-8 w-8 text-white mr-2 transition-transform transform hover:scale-110" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3" y="3" width="7" height="7" />
                            <rect x="14" y="3" width="7" height="7" />
                            <rect x="14" y="14" width="7" height="7" />
                            <rect x="3" y="14" width="7" height="7" />
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/about" class="flex items-center text-white font-semibold hover:text-yellow-300 transition">
                        <svg class="h-7 w-7 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20" />
                            <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z" />
                        </svg>
                        About
                    </a>
                </li>
                <li>
                    <a href="/artist_profiles" class="flex items-center text-white font-semibold hover:text-yellow-300 transition">
                        <svg class="h-8 w-8 text-white mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M9 18V5l12-2v13" />
                            <circle cx="6" cy="18" r="3" />
                            <circle cx="18" cy="16" r="3" />
                        </svg>
                        Stream
                    </a>
                </li>
                <li class="relative">
                    <button id="profile-button" onclick="toggleDropdown()" aria-haspopup="true" aria-expanded="false" class="flex items-center text-white font-semibold hover:text-yellow-300 transition">
                        <svg class="h-8 w-8 text-white mr-2 transition-transform transform hover:scale-110" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        Profile
                    </button>
                    <div id="account-dropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg" role="menu">
                        <ul class="py-1" role="none">
                            <li role="menuitem"><a href="/account" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Account</a></li>
                            <li role="menuitem"><a href="/logout" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Sign Out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    {% for message in messages %}
    <div class="container mx-auto mt-4">
        <div class="p-3 rounded-md mb-4 message {% if message.tags == 'error' %}bg-red-600{% elif message.tags == 'success' %}bg-green-600{% else %}bg-orange-400{% endif %}">
            {{ message }}
        </div>
    </div>
    {% endfor %}

    <main class="container mx-auto mt-8 p-5 rounded-lg shadow-lg bg-gray-800">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer text-center mt-8 p-4 text-white shadow-md rounded-lg">
        <p class="footer-text">&copy; 2024 Proxibutor. All rights reserved.</p>
    </footer>

    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('account-dropdown');
            const isHidden = dropdown.classList.toggle('hidden');
            document.getElementById('profile-button').setAttribute('aria-expanded', !isHidden);
        }

        document.addEventListener('DOMContentLoaded', () => {
            // Hide messages after 15 seconds
            setTimeout(() => {
                const messages = document.querySelectorAll('.message');
                messages.forEach(message => {
                    message.style.opacity = '0';
                    setTimeout(() => {
                        message.style.display = 'none';
                    }, 500); // match with CSS transition
                });
            }, 15000);
        });
    </script>
</body>

</html>
